---
title: About | Jamstack Test 
layout: base.njk
---


<header>
<a href="/">Home</a> | <a href="/about">About</a>
</header>
<div class="container">
    <h1>About page of the site</h1>
    <p>It was made using HTML, CSS & JavaScript. And served as a JAMstack site.</p>
</div>