---
title: Jamstack Test
layout: base.njk
---


<div class="container">
    <h1>This is a test page for jam</h1>
    <div class="vibe">You are great!!!</div>
    <div class="love">💖</div>
</div>
<script src="/js/vib.js"></script>
